extends layout

block content
  script(src="/js/join.js")
  h1 Join
  div(class="controls")
    button(class="button-primary" id="epoch") Start
    input(type="file" id="file-input")
  canvas(id="drawing")
